.footer {
  padding: 20px 0;
  background: $text;
  @include box-shadow(0 0 0 10px $text);

  p {
    color: $primary-1;
    @include device(small) {
      text-align: center;
    }
  }
}

.footer-info {
  display: flex;
  justify-content: space-between;

  @include device(small) {
    flex-direction: column;
    align-items: center;

    img {
      margin-top: 20px;
    }
  }
}
